{{#each breed_lists as |breed_list|}}
<!-- each is an interation method for handelbars-->

 <!-- Developers, why are we using data-id and not just id? -->
 <p>
  <p><h1 data-id="{{breed_list.id}}"> <small>Breed: {{breed_list.breed}}</small></h1></p>
  <p>Id: {{breed_list.id}}</p>
  <p>Gender: {{breed_list.gender}}</p>
  <p>Weight: {{breed_list.weight}}</p>
  <p>Height: {{breed_list.height}}</p>
  <!-- data attribute in hrml we dont use id  there becuase you dont want to assume you wont get
duplicates not a big deal if teo things have the same data-id -->
<!-- <small><li><button data-id="{{ breed_lists.id }}" class="removeDogItem" class="btn btn-default">Remove item from list</button></li></small> -->
</p>
  <!-- if the book has an author it will show that and if it doesn;t it will
say whats in the else, truthy things -->

{{/each}}
